body {
  font-family: sans-serif;
  padding-top: 40px;
  padding-left: 5%;
  padding-right: 5%;
  background-image: url("https://cdn.bhdw.net/im/the-sun-radiating-its-light-behind-clusters-of-white-clouds-wallpaper-95589_w635.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(192, 192, 192);
  background-color: #6fa2ff;
}

hr{
  color:lightgrey;
  opacity: 50%;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  color: black;
  margin-bottom: 0;
  margin-top:10px;
  text-align:center;
}

h2 {
  font-size: 90px;
  font-weight:500;
  color: black;
  
}

p {
  font-size: 20px;
  
}
ul {
  list-style: none;
  margin:0;
  padding:0;
  font-size: 25px;
}
a{
  color:white;
}
a:hover{
  color:rgb(204, 60, 173);
}

.dateTime{
  font-size: 18px;
  line-height: 27px;
  color: rgb(96, 96, 96);
  text-align:center;
}

.form-group {
  margin-bottom: 35px;
}

.weather-app{  
  margin:0px auto;
}

.weather-app-wrapper{  
  text-align: center;
  color: white; 
}

.input-group{
  max-width:75%;
  margin:0 auto;
  padding-bottom: 10px;
}

.tempUnit {
  font-size: 45px;
  color: black;
  padding-left:5px;
  margin: top 25%;
}

.container {
  background-color:white;
  width: 90%;
  margin: 0 auto;
  border-radius: 25px;
}

.condition {
  margin-top: 5px;
  text-align:center;
  color:black;
  font-weight: 700;
}

.currentDetails{
  font-size: 20px;
  color: black;
  padding-bottom:35px;
  padding-top: 0px;  
}

.card-group{
  width: 100%;
  justify-content: center;
}

.card {
  width:100%;
  height:100%;
  color:black;
}



